@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 2rem auto;
    background-color: #f6f6f6;
    color: #4d4d4d;
}

.todo-header {
    margin-top: 10px;
}

.todo-body {
    width: 100%;
    border: 1px solid gray;
    margin: 0;
    padding: 1rem;
    align-self: center;
    background-color: khaki;
    box-shadow: 0px 5px 12px 1px rgba($color: black, $alpha: 0.5);

    form > input {
        width: 80%;
        outline: none;
        border: none;
        border-bottom: 1px brown solid;
        background-color: transparent;
    }

    .main-list {
        width: 80%;
        list-style: none;
        .list-item {
            width: 100%;
            text-decoration: none;
            display: flex;
            justify-content: space-between;

            .delete-button {
                // visibility: hidden;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                width: 20px;
                height: 20px;
                border-radius: 2px;
                &::before, &::after {
                    content: " ";
                    // display: inline-block;
                    position: absolute;
                    height: 20px;
                    width: 4px;
                    background-color: red;
                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .list-footer {
        width: 80%;
        text-align: right;
    }
}

